
# Python droppings
__pycache__

# Vim droppings
*.swp

# SQLite database
tweets.db
tweets.db-journal

# Python dev
virtualenv/

# Steve Jobs
.DS_Store

#
# Never commit our Twitter API credentials
#
config.ini

#
# Never commit our AWS credentials
#
docker/aws-credentials.txt

logs/*

splunk-data/

docker/splunk-config/passwd

