
# Python droppings
__pycache__

# Vim droppings
*.swp

# SQLite database
tweets.db
tweets.db-journal
tweets-*.db

# Python dev
virtualenv/

# Steve Jobs
.DS_Store

#
# Never commit our Twitter API credentials
#
config.ini

#
# Never commit our AWS credentials
#
aws-credentials.txt

logs/*

splunk-data/

docker-compose.yml

#
# Don't accidentally check in an exported passwd file
#
splunk-config/passwd

#
# Ignore our agents
#
agents/

