
version: "3"

services:

  4-splunk:
    build:
      context: .
      dockerfile: "docker/Dockerfile-4-splunk"
    restart: "always"
    privileged: true
    volumes:
      - ./..:/mnt
      #
      # Our Splunk app
      #
      - ./../splunk-app:/opt/splunk/etc/apps/twitter-sentiment-analysis
      #
      # Our Splunk logs
      #
      - ./logs:/logs
      - ./../splunk-data/tweets:/opt/splunk/var/lib/splunk/defaultdb
      - ./../splunk-data/fishbucket:/opt/splunk/var/lib/splunk/fishbucket
    ports:
      - 8000:8000
    #environment:
    #  - TZ=EST5EDT


