
#
# This is a sample AWS access file.  You'll want to copy this to aws-credentials.txt and
# then put in the credentials you get from AWS IAM.
#
[default]
aws_access_key_id = FIXME
aws_secret_access_key = FIXME

